body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
}

.grid {
    
    border-radius: 25px;
    
}

footer {
    text-align: center;
    font-size: small;
    padding: 15px;
}